
<div id="questions_div">
<p>
    <script>d.w(gettext("To cast a vote, you will be led through the following steps."))</script><br />
    <script>d.w(gettext("If you have not yet logged in, you will be asked to do so at the very end of the process."))</script>
<p>
    
<ol><!--/-->
    <li> <script>d.w(gettext("<b>Select</b> your preferred options."))</script><br />
<span style="font-size: 14pt;"><script>d.w(gettext("You can easily navigate forwards and backwards."))</script></span></li>
<br />

    <li> <script>d.w(gettext("<b>Review &amp; Confirm</b> your choices."))</script><br />
<span style="font-size: 14pt;">
  <script>d.w(gettext("Your choices are encrypted safely inside your browser, and you get a smart ballot tracker."))</script><br />
</span>
</li>
<br />

    <li> <script>d.w(gettext("<b>Submit</b> your encrypted ballot."))</script><br />
<span style="font-size: 14pt;">
<script>d.w(gettext("You will be asked to log in to submit your encrypted ballot for tallying."))</script>
</span>
</li>
</ol>

<div align="center"><button onclick="BOOTH.show_question(0);"><script>d.w(gettext("Start"))</script></button></div>
</div>

