
<div id="questions_div">
<p>
    <span id="election_intro1"></span><br />
    <span id="election_intro2"></span>
<p>
    
<ol><!--/-->
    <li> <span id="election_step1"></span><br />
<span id="election_step1_desc" style="font-size: 14pt;"></span></li>
<br />

    <li> <span id="election_step2"></span><br />
<span id="election_step2_desc" style="font-size: 14pt;">
</span><br />
</li>
<br />

    <li> <span id="election_step3"></span><br />
<span id="election_step3_desc" style="font-size: 14pt;">
</span>
</li>
</ol>

<div align="center"><button id="election_start" onclick="BOOTH.show_question(0);"></button></div>
</div>

<script language="javascript">
    $("#election_intro1").append(gettext("To cast a vote, you will be led through the following steps."));
    $("#election_intro2").append(gettext("If you have not yet logged in, you will be asked to do so at the very end of the process."));
    $("#election_step1").append(gettext("<b>Select</b> your preferred options."));
    $("#election_step1_desc").append(gettext("You can easily navigate forwards and backwards."));
    $("#election_step2").append(gettext("<b>Review &amp; Confirm</b> your choices."));
    $("#election_step2_desc").append(gettext("Your choices are encrypted safely inside your browser, and you get a smart ballot tracker."));
    $("#election_step3").append(gettext("<b>Submit</b> your encrypted ballot."));
    $("#election_step3_desc").append(gettext("You will be asked to log in to submit your encrypted ballot for tallying."));
    $("#election_start").append(gettext("Start"));
</script>