{% extends TEMPLATE_BASE %}
{% load i18n %}
{% block content %}
  <h2 class="title">{{ election.name }} – {% trans 'Register' %}</h2>

{% if user %}
<p>
    {% blocktrans with user_id=user.id user_type=user.user_type %}You are currently logged in as {{user_id}} [{{user_type}}]{% endblocktrans %}
</p>
{% if voter %}
<p>
    {% trans 'You are currently registered for this election.' %}
</p>
{% else %}
<p>
    {% trans 'You are <em>not</em> registered for this election.' %}
</p>

<form method="post" action="{% url "helios.views.one_election_register" election.uuid %}">
<input type="submit" value="{% trans 'Register' %}" />
</form>
{% endif %}

{% else %}
{% endif %}

{% endblock %}